html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
#map, #table {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.55);
  position: relative;
  display: block;
}
#sidebar {
  width: 300px;
  height: 100%;
  max-width: 100%;
  float: right;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar {
  background-image: linear-gradient(to bottom, #2b6988 0%, #1f4b61 100%);
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

#sidebar textarea {
  margin-bottom: 15px;
}

.navbar .btn-group {
  margin-right:0;
}

#notifications {
  margin-top: 15px;
}

#table {
  margin-right: 300px;
}

.dataTables_wrapper {
  padding-top:15px;
  height: 100%;
  overflow-y: scroll;
}

.dataTables_wrapper .row {
  margin: 0;
}

.dataTables_wrapper .row:after {
  clear: inherit;
}

.dataTables_wrapper .col-sm-12 {
  padding:0;
  margin: 0;
  overflow-x: scroll;
}

.CodeMirror {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}