html, body, #root, #container, .react-root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #1b1f24;
  color: #8d8d8d;
}
body {
  padding-top: 50px;
}
#map, #table {
  width: auto;
  height: 100%;
  position: relative;
  display: block;
}
#table {
  overflow-y: scroll;
}
#sidebar {
  width: 300px;
  height: 100%;
  max-width: 100%;
  float: right;
  border-left: 5px solid #26282d;
}

.CodeMirror {
  border-bottom: 1px solid #36383d;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar {
  background-color: #1c1f24;
  max-height: 40px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

#sidebar textarea {
  margin-bottom: 15px;
}

.navbar .btn-group {
  margin-right:0;
}

#notifications {
  margin-top: 15px;
}

#table {
  margin-right: 300px;
}

.dataTables_wrapper {
  padding-top:15px;
  height: 100%;
  overflow-y: scroll;
}

.dataTables_wrapper .row {
  margin: 0;
}

.dataTables_wrapper .row:after {
  clear: inherit;
}

.dataTables_wrapper .col-sm-12 {
  padding:0;
  margin: 0;
  overflow-x: scroll;
}

.CodeMirror {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.pull-left {
  margin-right:5px;
}

#download {
  display: none;
}

.leaflet-popup-content {
  max-height: 50vh;
  overflow-y: scroll;
}

/* Checkboxes */
input[type=checkbox] {
  margin-right: 8px;margin-right: 8px;
}

/* Buttons */
.btn-info {
  color: #8e8e8e;
  background-color: #36383e;
  border: none;
}

.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
  color: #f0f0f0;
  background-color: #52565f;
  border: none;
}

.btn-info[disabled] {
    background-color: #7e7e7e;
}

/* Override CodeMirror Style */
.cm-s-shadowfox.CodeMirror {
    background: #1b1f24;
}
